body {
    background-color: #f5f5eb;
    text-align: center;
    margin: 0 15%;
}

body img {
    width: 200px;
    height: 200px;
}

.container {
    text-align: start;
}

.title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.all-content {
    color: blue;
}

.all-content:hover {
    color: black;
    cursor: pointer;
}

.block {
    border-top: 2px solid lightgrey;
    padding-top: 10px;

}

.section-title {
    font-size: large;
    font-weight: bold;
    list-style-type: none;
}

.section-title::marker {
    content: "";
}

