body {
    background-color: #f5f5eb;
    text-align: center;
    margin: 0 15%;
    font-size: x-large;
}

body img {
    width: 20%;
    height: 20%;
    margin: 0 auto;
    border-radius: 5%;
}

.container {
    text-align: start;
    opacity: 0;
    animation: ani 2s forwards;
}

.all-content:hover .section-title {
    color: black;
}

.all-content:hover {
    cursor: pointer;
}

.title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.block-input {
    display: none;
    border-top: solid lightgrey;
}

.block-input:checked ~ .content {
    display: block;
}

.section-title:hover .content {
    display: block;
}

.block-input:checked ~ .block-input-title {
    color: black;
    cursor: pointer;
}

.section-title:hover .block-input-title {
    color: black;
    cursor: pointer;
}

.all-content:hover .icon {
    color: black;
}

.icon {
    color: #f5f5eb;
}

.block-input-title {
    display: flex;
    justify-content: space-between;
}

.section-title {
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 50vh;
    color: blue;

}

.content {
    display: none;
    opacity: 0;
    animation: ani 2s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
